.item {
  position: relative;
  width: 274px;
  max-height: 426px;
}

.pic {
  width: 274px;
  height: 268px;
  border-radius: 14px;
  margin-bottom: 14px;
  overflow: hidden;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #121417;
  /* font-family: " Manrope"; */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-height: 24px;
  overflow: auto;
}

.features {
  margin-bottom: 28px;
  color: rgba(18, 20, 23, 0.5);
  /* font-family: Manrope; */
  font-size: 12px;
  line-height: 18px;
  max-height: 40px;
  overflow: auto;
}

.btn {
  width: 100%;
  border-radius: 12px;
  border-color: transparent;
  background-color: #3470ff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  height: 44px;
  transition: 0.2s;

  &:hover,
  &:focus {
    background-color: #0b44cd;
    scale: 1.05;
  }
}

.likeBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
}

.model {
  color: #3470ff;
}
